* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    user-select: none;
}

.app-background {
    background: #dde6ed;
    height: 100vh;
    display: flex;
    padding: 20px;
}

.app-content {
    background: #fff;
    border-radius: 25px;
    padding: 20px;
    width: 80vw;
    overflow-y: auto;
    /* border: 2px solid black; */
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #dde6ed;
}

::-webkit-scrollbar-thumb {
    background: #27374d;
    border-radius: 10px;
}
